*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
# Gradle build directories, at the root and in every module.
build/
.kotlin/
/captures
.externalNativeBuild
.cxx
local.properties
